footer
  ul
    li All data taken from 
      a(href='https://www.abebooks.com/9780071482844/Practice-Perfect-Complete-French-Grammar-0071482849/plp') Annie Heminway Practice Makes Perfect Complete French Grammar 2007 McGraw-Hill
    li
      a(href='https://github.com/Ionnier') Author