doctype html
head
  title Language Quizz
  style
    include ./css/styles.css
h1(style='text-align: center;') Home
.flex-container
  a(href='/lessons')
    .card
      h2 Lessons
      p Learn and practice on the proposed exercises
  a(href='/tests')
    .card
      h2 Tests
      p Practice your grammer in a series of tests
include footer
