doctype html
head
  meta(charset='utf-8')
  title Language Quizz
  style
    include ./css/styles.css
include header
main
  h1 Tests
  .lessons.flex-container
    mixin test(link,name)
      a(href=link)
        .test
          h2=name
    each test in tests
      +test(`/tests/${test.id_test}`,test.test_name)
    a(href="/test/random")
      .test
        h2="Take Random Test" 
include ./footer
